<!doctype html>
<html lang="ko"  xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Detail</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>
<div class="container mt-5">
    <h2 th:text="${board.title}"></h2>
    <div>
        <p><strong>Name :</strong> <span th:text="${board.name}"></span></p>
        <p><strong>Content :</strong> <span th:text="${board.content}"></span></p>

        <p><strong>Created/Updated At :</strong>
            <span th:if="${ board.updatedAt > board.createdAt}"
                  th:text="${#temporals.format(board.updatedAt, 'yyyy/MM/dd HH:mm')}"></span>
            <span th:if="${board.updatedAt <= board.createdAt}"
                  th:text="${#temporals.format(board.createdAt, 'yyyy/MM/dd HH:mm')}"></span>
        </p>

        <div class="mt-3">
            <a class="btn btn-primary" th:href="@{/view}">List</a>
            <a class="btn btn-warning" th:href="@{/view/edit/{id}(id=${board.id})}">Edit</a>
            <a class="btn btn-danger" th:href="@{/view/delete/{id}(id=${board.id})}">Delete</a>
        </div>
    </div>
</div>
</body>
</html>
