<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Delete</title>
</head>
<body>
<h2>Delete Board</h2>
<form th:action="@{/view/edit/{id}(id=${board.id})}" th:method="post" th:object="${board}">
    <label for="password">Password</label>
    <input type="password" id="password" name="password" required>
    <input type="submit" value="수정">
</form>
</body>
</html>