<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Wrong PW</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>
<div class="container mt-5">
    <h2>비밀번호가 일치하지 않습니다.</h2>
    <a class="btn btn-warning mt-3" th:href="@{/view/edit/{id}(id=${board.id})}">다시 비밀번호 입력하기</a>
</div>
</body>
</html>
